body {
    font-family: Arial;
    background-color: #f4f4f4;
    padding: 20px;
}

h2 {
    text-align: center;
}

button {
    padding: 8px;
    margin-bottom: 15px;
}

.product {
    background: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}